Build a regression model.

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [4]:
#load cb_avg_ratings
cb_avg_ratings = pd.read_csv('../data/cb_avg_ratings.csv')

In [6]:
y = cb_avg_ratings[['free_bikes']]
# select features avg_fsq_review, avg_yelp_review, avg_ratings
X = cb_avg_ratings[['avg_fsq_review', 'avg_yelp_review', 'avg_yelp_rating']]

In [8]:
X.shape

(241, 3)

In [9]:
X.head()

   avg_fsq_review  avg_yelp_review  avg_yelp_rating
0            19.8           297.85            4.025
1            17.4           781.20            4.225
2            25.4           893.70            4.175
3            21.5           208.40            4.025
4            24.0           287.00            4.075

In [10]:
y.head()

   free_bikes
0          21
1           9
2          13
3           0
4           5

In [20]:
X = sm.add_constant(X) # adding a constant
lin_reg = sm.OLS(y,X['avg_yelp_rating'])

Provide model output and an interpretation of the results.

In [21]:
model = lin_reg.fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:             free_bikes   R-squared (uncentered):                   0.729
Model:                            OLS   Adj. R-squared (uncentered):              0.728
Method:                 Least Squares   F-statistic:                              645.0
Date:                Mon, 27 Mar 2023   Prob (F-statistic):                    5.91e-70
Time:                        10:16:19   Log-Likelihood:                         -745.61
No. Observations:                 241   AIC:                                      1493.
Df Residuals:                     240   BIC:                                      1497.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
avg_yelp_rating     2.1138      0.083     25.397      0.000       1.950       2.278
==============================================================================
Omnibus:                       35.259   Durbin-Watson:                   1.687
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               46.081
Skew:                           0.991   Prob(JB):                     9.86e-11
Kurtosis:                       3.815   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Stretch

How can you turn the regression model into a classification model?